<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Over</title>
    <link rel="stylesheet" href="css/main.css" />
    
</head>
<body id="bd">
    <div id="space2">
        <h1 class="texto">GAME OVER</h1>
        <img class="game_over" src="img/playerDamaged.png" alt="">
        <button class="bt" onclick="window.location.href = '/game' ">Restart</button>
      </div>
</body>
</html>