<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Space Shooter Game</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="space">
      <img id="ship" src="img/player.png" alt="" />
    </div>
    <div class="life">
      <img id="img1" src="img/life.png" alt=""><img id="img2" src="img/life.png" alt=""><img id="img3" src="img/life.png" alt=""> 
    </div>
    <div class="points">000000</div>
    <script src="js/game.js"></script>
  </body>
</html>