<div class="container">
    <div class="row mb-4">
        <div class="col">
            <h1>SPACE SHOOTER</h1>
        </div>
    </div>
    <div class="row marcador align-items-center mb-4">
        <div class="col mx-auto text-center">
            <img src="img/about.PNG" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Space shooter: põe-te na 
            frente da batalha contra os invasores de 
            galáxias. Controlarás uma nave espacial e 
            deverás proteger a galáxia contra hordas de 
            extraterrestres. À medida que progrides no 
            jogo, terás a hipótese de atualizar a tua 
            nave espacial, de forma a atingir a máxima 
            capacidade letal.</p>
        </div>
    </div>
</div>
